@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --clr-white: #f2f2f2;
    --clr-black: #000000;
    --clr-grey: #e2e2e2;
    --clr-darkGrey: #999999;
    --clr-violet: #664259;
    --clr-red: #FD0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

li, a{
    text-decoration: none;
}



    /********************/
    /**-----HEADER-----**/
    /********************/
header{
    width: 100%;
    padding: 2rem;
    background-color: var(--clr-black);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    text-transform: uppercase;
    color: var(--clr-white)
}

.menu{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.botonMenu{
    color: var(--clr-white);
    font-size: 1rem;
}

.subMenu{
    display: none;
    position: absolute;
}

.itemMenu:hover > .subMenu{
    display: block;
    background-color: var(--clr-black);
}

.itemSubMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.botonCategoria{
    border: 0;
    border-bottom: 1px solid var(--clr-white);
    background-color: transparent;
    color: var(--clr-white);
    padding: .5rem 2rem;
    width: 100%;
    cursor: pointer;
}

.botonCarrito{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
    /********************/
    /**-----HEADER-----**/
    /********************/



    /*********************/
    /**-----CARRITO-----**/
    /*********************/
aside{
    background-color: var(--clr-black);
    position:absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    color: var(--clr-white);
}

.tituloCarrito{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    /*hola*/
}

.botonCerrarCarrito{
    border: 0;
    background-color: transparent;
    color: var(--clr-white);
    font-size: 1.25rem;
}

.contenedorCarrito{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carritoVacio, .carritoComprado{
    margin: 2rem 0;
}

.productosCarrito{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.productoCarrito{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-grey);
    color: var(--clr-violet);
    padding: .25rem;
    padding-right: .5rem;
}

.prodCarritoImg{
    width: 3rem;
    border-radius: 1rem;
}

.productoCarrito small{
    font-size: .75rem;
}

.botonBorrar{
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.accionesCarrito{
    display: flex;
    justify-content: space-between;
}

.vaciarCarrito{
    border: 0;
    background-color: var(--clr-grey);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-violet);
    text-transform: uppercase;
    cursor: pointer;
}

.accionCarritoDer{
    display: flex;
}

.totalCarrito{
    display: flex;
    gap: 1rem;
    background-color: var(--clr-grey);
    padding: 1rem;
    color: var(--clr-violet);
    text-transform: uppercase;
}

.botonComprar{
    border: 0;
    background-color: var(--clr-violet);
    padding: 1rem;
    color: var(--clr-grey);
    text-transform: uppercase;
    cursor: pointer;
}

.disable{
    display: none;
}
    /*********************/
    /**-----CARRITO-----**/
    /*********************/



    /********************/
    /**-----INICIO-----**/
    /********************/
.bodyIndex{
    overflow: hidden;
}
.mainIndex{
    background-color: var(--clr-violet);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 8rem;
    padding-top: 2rem;
    min-height: 100vh;

}

.presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--clr-white);
    text-transform: uppercase;
}

.tituloIniciales{
    text-decoration: line-through;
    font-size: 10rem;
}

.tituloInicio{

    text-decoration: wavy;
}

.botonTienda{
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-violet);
    padding: .5rem;
    text-transform: uppercase;
    text-align: center;
    border-radius: 1rem;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.botonTienda:hover{
    background-color: var(--clr-violet);
    color: var(--clr-white);
}
    /********************/
    /**-----INICIO-----**/
    /********************/



    /********************/
    /**-----TIENDA-----**/
    /********************/
.tituloTienda{
    color: var(--clr-violet);
    margin: 2rem 3rem;
}
    
.contenedorProductos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 1rem 3rem;
}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
}

.detallesProducto{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
}

.tituloProducto{
    color: var(--clr-violet);
    text-transform: uppercase;
}

.precioProducto{
    color: var(--clr-darkGrey);
}

.agregarProducto{
    border: 0;
    background-color: var(--clr-violet);
    color: var(--clr-white);
    border: 2px solid var(--clr-violet);
    padding: .5rem 4rem;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}

.agregarProducto:hover{
    background-color: var(--clr-white);
    color: var(--clr-violet);

}

.imgProducto{
    max-width: 80%;
    box-shadow: 0 0 8px var(--clr-violet)
}
    /********************/
    /**-----TIENDA-----**/
    /********************/



